{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <section class="container">

        <div class="padding-fixed-navbar-120">

            <section class="row g-4 articles pb-5 pt-4">

                {% for article in articles %}
                    <article class="d-flex flex-column col-md-3">

                        <div class="content">

                            <img class="img-content img-fluid" src="{{ article.image }}" alt="">

                            <div class="content-infos">
                                <h2 class="title-trick-box pb-1  m-0">{{ article.title }}</h2>
                                <div class="metadata mb-3">Ecrit le {{ article.createdAt | date ('d/m/y') }} à {{ article.createdAt | date ('H:i') }} dans la catégorie Snowtricks</div>
                                <a type="button" class="btn btn-primary" href="{{ path('trick_show', {'id': article.id}) }}">Lire la suite</a>
                                <a type="button" class="btn btn-primary" href="{{ path('trick_edit', {'id': article.id}) }}">Editer</a>
                            </div>

                        </div>
                    </article>
                {% endfor %}

            </section>

        </div>

    </section>

{% endblock %}
