{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <section class="row articles">

        {% for article in articles %}
            <article class="col-md-4">
                <h2>{{ article.title }}</h2>
                <div class="metadata">Ecrit le {{ article.createdAt | date ('d/m/y') }} à {{ article.createdAt | date ('H:i') }} dans la catégorie Politique</div>
                <div class="content">
                    <img class="img-fluid" src="{{ article.image }}" alt="">
                    {{ article.content | raw }}
                    <a type="button" class="btn btn-primary" href="{{ path('blog_show', {'id': article.id}) }}">Lire la suite</a>
                </div>
            </article>
        {% endfor %}

    </section>

{% endblock %}
